<div class="hero-unit">
  <h1>ESO</h1>
  <form ng-submit="search()">
    <input type="text" name="q" ng-model="data.q" autocomplete="off"/>
    <button type="submit">Search</button>
  </form>

  <div class="clubs" ng-show="showClubs()"><h2>Clubs</h2>
  <ul>
    <li ng-repeat="club in clubs.clubs">
  <a href="/clubs/{{club.id}}">{{club.code}}</a> {{club.name}}
  </li>
  </ul>
  </div>

  <div ng-show="showPlayers()"><h2>Players</h2>
    <ul>
        <li ng-repeat="player in players.players">
      <a href="/players/{{player.id}}">{{player.code}}</a> {{player.lastname}} {{player.firstname}} ({{player.birthdate|publicDate}}) <a href="/clubs/{{player.clu_id}}">CLUB</a> {{player.rating}}
      </li>
    </ul>
  </div>
  <hr/>
  <ul>
      <li><a href="/clubs">Browse clubs</a></li>
      <li><a href="/players">Browse players</a></li>
  </ul>

</div>
